.header{
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 700;
}

.header .fixed-wrap{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  transition: all .5s;

}

.header .header-inner{
  border: 1px solid #000;
  height: 80px;
  max-width: 1760px;
  padding: 0 75px;
  position: relative;
  display: flex;
  justify-content: right;
  align-items: center;
  margin: 0 auto;
  margin-top: 30px;
  background-color: #fff;
  width: 80%;
  transition: margin .3s ease, width .3s linear .15s;
}

@media (max-width: 1000px){
  .header .header-inner{
    height: 60px;
    margin-top: 0;
    width: 100%;
    padding: 0;
  }
}

.header .header-inner.active{
  margin-top: 0;
  width: 100%;
}

@media (max-width: 1000px){
  .header .header-inner.active{
    padding: 0;
  }
}


@media (max-width: 1919px){
  .header .header-inner.active{
    padding: 0;
  }
}

/* LOGO ---------------------------------------------------- */
.header .logo{
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  width: 150px;
  height: 80px;
  z-index: 701;
  transition: all .5s;
}

@media (max-width: 1000px){
  .header .logo{
    height: 60px;
    width: 100px;
  }
}

.header .logo .logo-img{
  display: block;
  width: 100%;
  height: 100%;
  background: url(../images/logos/Logo-horizontal.png) no-repeat center/100% auto;
}

.logo-name{
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);;
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}
/* LOGO ---------------------------------------------------- */


/* PC-nav ---------------------------------------------------- */
.pc-nav{
  display: flex;
}

.pc-nav .menu-list-wrap{
  display: none;
  /* z-index: 701; */
}

@media (min-width: 1200px){
  .pc-nav .menu-list-wrap{
    display: flex;
    opacity: 1;
    transition: .3s;
    padding: 0 75px;
  }
}

.pc-nav .menu-list{
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 25px;
}

.pc-nav .menu-list>a{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 1.6;
  transition: color .4s;
}
.pc-nav .menu-list>a .text::before{
  content: '';
  width: 0%;
  height: 2px;
  background: #F27405;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  transition: all .4s;
}

.pc-nav .menu-list>a:hover .text::before{
  width: 70%;
}

.pc-nav .menu-list .sub-menu{
  display: none;
  width: 120px;
  /* height: 120px; */
  background: #fff;
  position: absolute;
  top: 62px;
  left: 50%;
  transform: translateX(-50%);
}

.pc-nav .menu-list .sub-menu li{
  height: 40px;
  border-bottom: 1px solid #000;
  text-align: center;
  line-height: 40px;
}

.pc-nav .menu-list-addsub>a::after{
  content: "\f0de";
  font-family: fontawesome;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  opacity: 0;
  transition: 0.35s;
}

.pc-nav .menu-list:hover>a::after{
  opacity: 1;
  top: 50px;
}

.pc-nav .menu-list .sub-menu li:hover{
  color: #FAFAFA;
  background-color: #F27405;
  transition: all .2s;
}

/* PC-nav ---------------------------------------------------- */

/* Nav-ight ---------------------------------------------------- */
.right-wrap{
  position: absolute;
  top: 0;
  right: 20px;
  height: 100%;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1805px){
  .right-wrap{
    right: calc((100%)/1760px/2);
  }
}

.right-wrap .menu-btn-wrap{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  z-index: 701;
  cursor: pointer;
}

.menu-btn .line, .menu-btn .line:before, .menu-btn .line:after{
  content: " ";
  display: block;
  width: 30px;
  height: 2px;
  background-color: #050505;
  transition: transform .4s;
}

.right-wrap .menu-btn-wrap.active .menu-btn .line:before{
  transform: translateY(0px) rotateZ(-135deg);
}
.right-wrap .menu-btn-wrap.active .menu-btn .line::after{
  transform: translateY(-2px) rotateZ(135deg);
}

.menu-btn .line{
  background-color: transparent !important;
}
.menu-btn .line:before {
  transform: translateY(-4px);
}
.menu-btn .line:after {
  transform: translateY(4px);
}

.right-wrap .menu-btn-wrap.active .menu-btn .line:before{
  transform: translateY(0px) rotateZ(135deg);
}
.right-wrap .menu-btn-wrap.active .menu-btn .line::after{
  transform: translateY(-2px) rotateZ(-135deg);
}

@media screen and (min-width: 1000px){
  .menu-btn .line:before {
    transform: translateY(-7px);
  }
  .menu-btn .line:after {
    transform: translateY(7px);
  }
  .menu-btn .line, .menu-btn .line:before, .menu-btn .line:after{
    width: 50px;
  }
}
/* Nav-ight ---------------------------------------------------- */

/* Nav-open ---------------------------------------------------- */

.nav-open-wrap{
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  z-index: 700;
  transform: translate(0%, -110%);
}

.nav-open-wrap .nav-open-inner-wrap {
  position: relative;
  padding: 80px 0 0 0;
  /* height: auto; */
  margin: 0 auto;
  display: grid;
  height: 100%;
  padding-top: 0;
  grid-template-columns: calc(780 / 1920 * 100%)auto;
}

.nav-open-wrap .menu-list-wrap{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 20px;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  padding-left: 152px;
}

@media screen and (max-width: 1000px){
  .nav-open-wrap .nav-open-inner-wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.nav-open-wrap .menu-list{
  position: relative;
  overflow: hidden;
  opacity: 0;
  /* transition: opactiy .4s .2s; */
}
.nav-open-wrap .menu-list>a{
  position: relative;
  display: flex;
  align-items: center;
  font-size: 80px;
  height: auto;
  width: fit-content;
  line-height: 1;
  padding: 5px 0;
}
.nav-open-wrap .menu-list>a .text{
  position: relative;
  padding-left: 90px;
}

.nav-open-wrap .menu-list>a .menu-title-underline{
  width: 100%;
  height: 8px;
  background: #F27405;
  position: absolute;
  top: 50%;
  left: -105%;
  transform: translateY(-30%);
  transition: all .4s;
  z-index: -1;
}

.nav-open-wrap .menu-list>a:hover .menu-title-underline{
  left: 0%;
}

@media screen and (max-width: 1000px){
  .nav-open-wrap .menu-list>a .menu-title-underline{
    width: 100%;
    height: 4px;
  }
}

@media screen and (max-width: 1000px){
  .nav-open-wrap .menu-list>a .text{
    padding-left: 0;
    font-size: 28px;
  }
  .nav-open-wrap .menu-list-wrap{
    padding: 0;
    align-items: center;
  }
}

@media screen and (min-width: 1920px){
  .open-nav-wrap .menu-list>a {
    font-size: 80px;
  }
}

.nav-open-wrap .menu-footer{
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 80px;
  bottom: 80px;
}

@media screen and (max-width: 1000px){
  .nav-open-wrap .menu-footer{
    display: flex;
    position: relative;
    right: auto;
    bottom: auto;
    width: 100%;
    border-top: 1px solid #000;
    margin: 50px 0;
  }
}

.nav-open-wrap .menu-footer .sns-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 0;
}
.nav-open-wrap .menu-footer .sns-list .item>a{
  display: block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.nav-open-wrap .menu-footer .sns-list .item .youtube{
  background-image: url(../images/icon_sns_youtube.svg);
}
.nav-open-wrap .menu-footer .sns-list .item .blog{
  background-image: url(../images/icon_sns_blog.svg);
}
.nav-open-wrap .menu-footer .sns-list .item .landing-page{
  background-image: url(../images/icon_sns_youtube.svg);
}

@media screen and (max-width: 1000px){
  .nav-open-wrap .menu-footer .sns-list{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 60px;
    margin: 30px 20px;
  }
  .nav-open-wrap .menu-footer .info-list .item{
    text-align: right;
    margin: 0 20px;
  }
}

/* Nav-open-left --------------------------------------------------- */
.nav-open-wrap .nav-open-inner-wrap .pc-menu-map{
  display:none;
}

@media (min-width: 992px){
  .nav-open-wrap .nav-open-inner-wrap .pc-menu-map{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    order: -1;
    background-color: #050505;
  }
}

.nav-open-wrap .nav-open-inner-wrap .pc-menu-map .grid{
  grid-column: span 4;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.nav-open-wrap .nav-open-inner-wrap .pc-menu-map .grid-1{
  background-color: #F27405;
}
.nav-open-wrap .nav-open-inner-wrap .pc-menu-map .grid-2{
  background-color: #fafafa;
}

.nav-open-wrap .nav-open-inner-wrap .pc-menu-map .grid-1 .bg-1{
  background-color: #050505;
}
.nav-open-wrap .nav-open-inner-wrap .pc-menu-map .grid-2 .bg-1::before{
  background-image: url(../images/icon_chart_02.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px 100px;
  animation: ani-rotate 4s linear infinite;
}

@keyframes ani-rotate{
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

.nav-open-wrap .nav-open-inner-wrap .pc-menu-map .grid-2 .bg-2{
  background: linear-gradient(-90deg, #050505 50%, #FAFAFA 50%);
}

.nav-open-wrap .nav-open-inner-wrap .pc-menu-map .grid-2 .bg-2::before{
  background-color: #050505;
  border-radius: 106px 0 0 106px;
}

.nav-open-wrap .nav-open-inner-wrap .pc-menu-map .grid-1 .bg-2{
  background: url(../images/navigation_img_01.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.nav-open-wrap .nav-open-inner-wrap .pc-menu-map .grid [class^='bg']{
  display: flex;
}
.nav-open-wrap .nav-open-inner-wrap .pc-menu-map .grid [class^='bg']::before, .nav-open-wrap .nav-open-inner-wrap .pc-menu-map .grid [class^='bg']::after {
  content: "";
  display: block;
  width: 50%;
  height: 100%;
}

.nav-open-wrap .nav-open-inner-wrap .pc-menu-map .grid-3{
  grid-row: span 2;
  grid-template-columns: 1fr;
}
.nav-open-wrap .nav-open-inner-wrap .pc-menu-map .grid-3 .map-wrap{
  border-radius: 0 200px 200px;
  overflow: hidden;
}

.nav-open-wrap .nav-open-inner-wrap .pc-menu-map .grid-4{
  grid-template-columns: repeat(4, 1fr);
}

.nav-open-wrap .nav-open-inner-wrap .pc-menu-map .grid-4 .bg-1{
  background: url(../images/navigation_img_02.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  animation: ani-rotate 60s linear infinite;
}

.nav-open-wrap .nav-open-inner-wrap .pc-menu-map .grid-4 .left-info{
  grid-column: 2/5;
  color: #FAFAFA;
  padding: 44px 40px 0 40px;
}
.nav-open-wrap .nav-open-inner-wrap .pc-menu-map .grid-4 .left-info .info-list{
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
  line-height: 1.6;
  text-align: right;
}

/* Nav-open-left --------------------------------------------------- */

@media (min-width: 992px){
  .none-lg{display: none !important;}
}
