@import url(common.css);

/* Intro */
#intro_wrap{
  width: 100vw;
  height: 100vh;
  background-color: #0d0d0d;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}

#intro_wrap .intro_wrap-inner{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#intro_wrap .load-counter{
  text-align: center;
  position: relative;
  width: 200px;
}

#intro_wrap .load-counter p{
  font-size: 40px;
  font-weight: 100;
  color: #F27405;
}

#intro_wrap .load-counter h2{
  font-size: 60px;
  margin-top: -10px;
  color: #fff;
}

#intro_wrap .load-counter hr{
  background-color: #F27405;
  border: none;
  height: 1px;
}

/* Wrap -------------------------------------------------------------- */
#wrap{
  width: 100%;
  margin: auto;
}

.Swiper1 {
  width: 100%;
  height: 80vh;
}
@media screen and (max-width: 1200px){
  .Swiper1 {
    width: 100%;
    height: 100%;
  }
}

.Swiper1 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Swiper1 .swiper-slide picture {
  width: 100%;
  height: 100%;
}
.Swiper1 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.swiper-horizontal>.swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal, .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite, .swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite{
  top: auto;
  bottom: 0;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
  background-color: #F27405;
}
.swiper-button-next, .swiper-button-prev{color: #F27405;}
.swiper-button-next:after, .swiper-button-prev:after{font-size: 30px;}

.section{
  height: 100%;
  width: 100%;
  max-width: 1200px;
  margin: 100px auto;
}

@media screen and (max-width: 1000px){
  main{margin-top: 62px;}
}

/* Section1 -------------------------------------------------------------- */
@media screen and (max-width: 1000px){
  .section1{
    width: 100%;
  }
}

.section1 .grid-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}

@media screen and (max-width: 1000px){
  .section1 .grid-container{
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    overflow: hidden;
  }
}

.section1 .grid-container .grid-content{
  /* border: 1px solid #000; */
  align-items: center;
  justify-self: center;
  position: relative;
}

.section1 .grid-container .grid-content .grid-title span{
  display: block;
  margin: 20px;
}

@media screen and (max-width: 390px){
  .section1 .grid-container .grid-content .grid-title{
    width: 330px;
  }
}
@media screen and (max-width: 280px){
  .section1 .grid-container .grid-content .grid-title{
    width: 260px;
  }
}

.section1 .grid-container .grid-content .grid-title span:first-child{
  margin-bottom: 0;
}
.section1 .grid-container .grid-content .grid-title span:nth-child(2){
  margin-top: 0;
}

@media screen and (max-width: 300px){
  .section1 .grid-container .grid-content .grid-title>span:first-child{
    font-size: 30px;
  }
  .section1 .grid-container .grid-content .grid-title span:nth-child(2){
    font-size: 28px;
    white-space: nowrap;
  }
  .section1 .grid-container .grid-content .grid-title span:nth-child(3){
    font-size: 20px;
  }
  .section1 .grid-container .grid-content .grid-title>a{
    font-size: 20px;
  }
}

.section1 .grid-container .grid-content img{
  width: 100%;
  height: 320px;
  object-fit: cover;
}

@media screen and (max-width: 300px){
  .section1 .grid-container .grid-content img{
    width: 400px;
    object-fit: contain;
  }
}

.section1 .grid-container .grid-content .grid-desc {
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.section1 .grid-container .grid-content .grid-desc.desc-odd{
  right: 100%;
}
.section1 .grid-container .grid-content .grid-desc.desc-even{
  left: 100%;
}
.section1 .grid-container .grid-content .grid-desc strong{
  display: block;
}

@media screen and (max-width: 1000px){
  .section1 .grid-container .grid-content .grid-desc {
    position: static;
    transform: translateY(0);
  }
}

/* /Section1 -------------------------------------------------------------- */


/* Section2 -------------------------------------------------------------- */
.section2{
  max-width: 100%;
  background-color: #ffead7;
}
.section2 .section2-wrap{
  width: 1200px;
  margin: auto;
  padding: 100px 0;
}

@media screen and (max-width: 1200px){
  .section2 .section2-wrap{
    width: 100%;
  }
}

.section2-wrap .metaphor-icon-all{
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 1000px){
  .section2-wrap .metaphor-icon-all{
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
  }
}

@media screen and (max-width: 420px){
  .section2-wrap .metaphor-icon-all{
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
  }
}

.section2-wrap .metaphor-icon-all .metaphor-icon-bundle{
  position: relative;
}

.section2-wrap .metaphor-icon-all .metaphor-icon-bundle ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.section2-wrap .metaphor-icon-all .metaphor-icon-bundle ul .metaphor-icon{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.section2-wrap .metaphor-icon-all .metaphor-icon-bundle:nth-child(odd) ul .metaphor-icon{background: #971a25;}
.section2-wrap .metaphor-icon-all .metaphor-icon-bundle:nth-child(even) ul .metaphor-icon{background: #F27405;}

.section2-wrap .metaphor-icon-all .metaphor-icon-bundle ul .metaphor-icon img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.section2-wrap .metaphor-icon-all .metaphor-icon-bundle ul .metaphor-desc{
  background: #fff;
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  width: 200px;
  height: 100px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1000px){
  .section2{
    padding: 80px 0;
  }

  .section2-wrap .metaphor-icon-all .metaphor-icon-bundle ul .metaphor-icon{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all .3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }

  .section2-wrap .metaphor-icon-all .metaphor-icon-bundle:hover> ul .metaphor-icon{
    transform: translateY(-75%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
  .section2-wrap .metaphor-icon-all .metaphor-icon-bundle:hover> ul .metaphor-desc{
    opacity: 1;
    transform: translateY(25%);
  }

  .section2-wrap .metaphor-icon-all .metaphor-icon-bundle ul .metaphor-desc{
    background: #fff;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    width: 200px;
    height: 100px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all .3s ease-in-out;
  }
}
/* /Section2 -------------------------------------------------------------- */


/* Section3 -------------------------------------------------------------- */
.Swiper2 {
  width: 100%;
}

.section3 h2, .section4 h2, .section5 h2{
  padding: 10px 0;
}

.swiper-slide .item-all .item-bundle li .item{
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  padding: 10px;
}
.swiper-slide .item-all .item-bundle li .item li{flex: 1;}
.swiper-slide .item-all .item-bundle li:first-child .item{
  border-top: 2px solid #0d0d0d;
}
.section3{
  margin-bottom: 0;
}
.swiper-slide:last-child{
  padding-bottom: 20px;
}

.section3 .swiper-pagination-bullets.swiper-pagination-bullets-dynamic, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{
  bottom: 0px;
}
.section3 .swiper-pagination-bullet-active{
  background: #F27405;
}

/* /Section3 -------------------------------------------------------------- */

@media screen and (max-width: 1200px){
  .section3 .contain{
    margin-left: 20px;
    margin-right: 20px;
  }
  .section4 .contain{
    margin-left: 20px;
    margin-right: 20px;
  }
}

/* Section4 -------------------------------------------------------------- */
.section4{
  margin-top: 30px;
}

.Swiper3{
  height: 300px;
  border-top: 2px solid #0d0d0d;
  border-bottom: 2px solid #0d0d0d;
  position: relative;
}

@media screen and (max-width: 1199px){
  .Swiper3{height: 240px;}
  .section4 .contain.pc-sec4{display: none;}
  .section4 .contain.mo-sec4{display: block;}
  .section4 .item-all .item{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ccc;
    height: 80px;
  }
  .section4 .item-all .item li:first-child{
    grid-column: span 2;
  }
}

@media (min-width: 1200px){
  .section4 .contain.mo-sec4{display: none;}

  .section4-tit{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .section4-tit li{
    flex: 1;
    border: 2px solid #ccc;
    padding: 15px 0px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 5px;
    box-sizing: border-box;
  }
  
  .section4 .item-all .item{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ccc;
    height: 60px;
  }
  .section4 .item-all .item .tit{
    flex: 1;
    text-align: center;
  }
  .section4 .content-box{
    position: absolute;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 62px;
    border: 3px solid #F27405;
    background-color: rgba(0, 0, 0, 0.05);
    z-index: 1;
  }
}

/* /Section4 -------------------------------------------------------------- */


/* Section5 -------------------------------------------------------------- */
@media screen and (max-width: 1199px){
  .section5 .contain{display: none;}
}
@media screen and (min-width: 1199px){
  .section5 .mo-contain{display: none;}
}

.section5{
  max-width: 100%;
  background: #ffead7;
}
.section5 .contain{
  width: 1200px;
  margin: auto;
  padding: 50px 0;
}

.section5 .movie-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section5 .movie-wrap .movie-content .movie .thumb{
  width: 350px;
  height: 230px;
  border-radius: 30px 30px 0 30px;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 1199px){
  .section5 .movie-wrap .movie-content .movie .thumb{
    width: 100%;
    height: 200px;
  }
}

.section5 .movie-wrap .movie-content .movie .thumb img{
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: center;
}
.section5 .movie-wrap .movie-content .movie .thumb .thumb-overlay{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
  color: #fff;
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all .3s ease-in-out;
}
.section5 .movie-wrap .movie-content .movie .thumb .thumb-overlay p{
  padding: 10px 30px;
  border: 1px solid #fff;
  border-radius: 20px;
  transition: all .3s ease-in-out;
}

.section5 .movie-wrap .movie-content .movie .thumb:hover .thumb-overlay{
  opacity: 1;
}

.section5 .movie-wrap .movie-content .movie .thumb .thumb-overlay p:hover{
  background: #0d0d0d;
  border: 1px solid #0d0d0d;
}

.section5 .movie-wrap .movie-content .movie li{
  text-align: center;
}
.section5 .movie-wrap .movie-content .movie .tit{
  margin: 5px;
}

.section5 .mo-contain{
  width: 100%;
  height: 100%;
  margin: auto;
}

@media (max-width: 1200px){
  .section5 h2{
    margin-left: 20px;
  }
}

.section5 .mo-contain .Swiper4{
  height: 100%;
}
.section5 .mo-contain .Swiper4 .swiper-slide{
  background: transparent;
}

.Swiper4 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* /Section5 -------------------------------------------------------------- */

/* Section6 ----------------------------------------------------------------*/
/* 
.Tabs-3rd{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1200px){
  .Tabs-3rd{
    max-width: 100%;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.tabMenu3 .tabBtn3{
  width: 550px;
  height: 50px;
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
  border-bottom: 2px solid #000;
  margin: auto;
}
@media (max-width: 1200px){
  .tabMenu3 .tabBtn3{
    width: 100%;
    height: 50px;
  }
}

.tabMenu3 .tabBtn3>span{
  position: absolute;
  right: 0;
  cursor: pointer;
}
.tabBtn3 li,.tabBtn4 li{
  margin-right: 40px;
  cursor: pointer;
}

.tabContents3{
  width: 550px;
}
.tabContents3 ul{
  width: 550px;
  height: 275px;
  display: none;
}
.tabContents3 ul.active{
  display: block;
}

.tabContents3 ul li{
  height: 55px;
  line-height: 55px;
  border-top: 1px dotted #000;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.tabContents3 ul li span{
  font-size: 14px;
  color: #888;
}
.tabContents3 ul li:first-child{
  border: none;
}
.tabContents3 ul li:last-child{
  border-bottom: 2px solid #000;
}
.tabContents3 em, .tabContents4 em{
  font-style: normal;
  transition: 0.15s;
}
.tabContents3 b{transition: 0.15s;}
.tabContents3 ul li:hover em, .tabContents3 ul li:hover b, .tabContents4 ul li:hover em{
  color: #ecb44b;
}


.tabMenu4 .tabBtn4{
  width: 550px;
  height: 50px;
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
  border-bottom: 2px solid #000;
  margin: auto;
}

.tabMenu4 .tabBtn4>span{
  position: absolute;
  right: 0;
  cursor: pointer;
}

.tabContents4{width: 550px;}

.tabContents4 ul{
  width: 550px;
  height: 278px;
  display: none;
  justify-content: space-between;
  border-bottom: 2px solid #000;
}
.tabContents4 ul.active{display: flex;}

.tabContents4 ul li p{
  margin-top: 10px;
  box-sizing: border-box;
}
.tabContents4 ul li span{
  font-size: 14px;
  color: #888;
}

.tabContents4 img{
  margin-top: 10px;
  width: 100%;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
}

.tabBtn3 li.active, .tabBtn4 li.active{
  font-size: 24px;
  font-weight: 800;
} */

.tab-wrap{
  width: 100%;
  max-width: 1200px;
}

.tab-container{
  display: flex;
  gap: 60px;
}
.tab-inner{
  flex: 1;
}

.tab-menu .tab-btn{
  display: flex;
  align-items: center;
  height: 50px;
  border-bottom: 2px solid #0d0d0d;
}

.tab-tit{
  margin-right: 40px;
  cursor: pointer;
}
.tab-tit.active{
  font-size: 24px;
  font-weight: 800;
}

@media screen and (max-width: 300px){
  .tab-tit{
    margin-right: 20px;
  }
}

.tab-content em{
  font-style: normal;
  transition: .15s;
}

.tab-content-inner li:hover em,
.tab-content-inner li:hover b,
.tab-content-inner li:hover span
{color: #F27405;}

.tab-content ul{
  display: none;
  justify-content: space-between;
  border-bottom: 2px solid #000;
  height: 250px;
  overflow: hidden;
}

.tab-left .tab-content ul{
  flex-direction: column;
}

.tab-content ul.active{display: flex;}

.tab-left .tab-content ul li{
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  border-bottom: 1px dotted #0d0d0d;
  cursor: pointer;
}

.tab-left .tab-content ul li:last-child{
  border: none;
}

.tab-right .tab-content ul{gap: 20px;}

.tab-right .tab-content ul li{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  flex: 1;
}

.tab-right .tab-content ul li > div{
  width: 100%;
  height: 75%;
}

.tab-right .tab-content ul li img{
  margin-top: 10px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.tab-right .tab-content ul li p{
  margin-top: 10px;
}

@media (max-width: 1200px){
  .section6 .tab-wrap{
    max-width: 100%;
    margin: auto;
  }
  .tab-container{
    gap: 40px;
    margin-right: 20px;
    margin-left: 20px;
  }

  .tab-right .tab-content ul li > div{
    width: 100%;
    height: 75%;
  }
}
@media (min-width: 640px) and (max-width: 860px){
  .tab-right .tab-content ul li img{
    object-fit: cover;
  }
}

@media (max-width: 860px){
  .tab-container{
    flex-direction: column;
  }
}